# Entorno virtual
venv/

# Archivos y carpetas de configuración del entorno
*.env
*.venv
.env
.venv
*.enc
*.pem

# Ignorar todo el contenido de foto_user
/foto_user/*

# Excepto la carpeta misma
!/foto_user/

# Puedes incluir un archivo vacío para asegurarte de que Git rastree la carpeta
/foto_user/.gitkeep

# Archivos de configuración del sistema operativo
.DS_Store
Thumbs.db

# Archivos de caché de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de migración (opcionales)
db.sqlite3
*.sqlite3

# Archivos de logs
*.log
*.pot

# Archivos de configuración de IDEs y editores de texto
.vscode/
.idea/
*.swp

# Archivos generados por herramientas
staticfiles/
media/
node_modules/
coverage/
*.coverage
htmlcov/

# Archivos de dependencias
pip-log.txt
pip-delete-this-directory.txt
